header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width: 1320px;
    padding:20px 40px ;
    @media (max-width: 768px){
        padding:17px 20px ;
    }
}
.logo img{
    height:68px;
    @media (max-width: 768px){
        height:47px;
    }
}
nav {
    font-size:24px;
    @media (max-width: 768px){
        font-size:12px;
    }
    & ul {
        display:flex;
        & li{
            padding: 10px;
            & a:hover , a.active-page{
                text-decoration: underline;
            }
        }
    }
}