.rating{
    display: flex;
    justify-content: flex-end;
    gap:7px;
    @media (max-width: 768px){
        gap: 4px;
    }
    & .star{
        height: 30px;
        aspect-ratio: 1;
        cursor: pointer;
        @media (max-width: 768px){
            height: 20px;
        }
        & svg{
            height:100%;
            width:100%;
        }
    }
}